{% set type = type is defined ? type : 'link' %}
{% set bgImag = bgImag is defined ? bgImag : 0 %}
{% set linkTarget = extern is defined and extern ? '_blank' : '_self' %}

{% set backgrounds = ['@webroot/assets/img/button-1.svg','@webroot/assets/img/button-2.svg','@webroot/assets/img/button-3.svg'] %}

{% if type == 'link' %}
    <a href="{{ target }}" target="{{ linkTarget }}" class="relative block max-w-[90%] sm:max-w-none mx-auto text-center font-black text-lg sm:text-2xl text-yellow hover:text-black group px-3 sm:px-4 py-2 sm:py-5">
        {{ svg(backgrounds[bgImag])|attr({ class: 'absolute inset-1 -z-1 block h-full w-full fill-current' }) }}
        <span class="inline-block  align-bottom pt-2 text-black group-hover:text-yellow leading-[35px] relative">
             {{ label }}
        </span>
    </a>
{% endif %}