{### Extends #}
{% extends '_layouts/main.twig' %}

{### Permissions #}

{### Macros #}

{### Data logic #}

{### Blocks #}
{% block content %}
  <div class="container pt-40">
    {% include '_components/content-matrix.twig' %}
  </div>
{% endblock %}
