{### Extends #}
{% extends '_layouts/main.twig' %}

{### Permissions #}

{### Macros #}

{### Data logic #}

{### Blocks #}
{% block content %}

  <div class="bg-green-800 pt-8 pb-8 text-white text-center">
    <h1>{{ entry.title }}</h1>
  </div>

{% endblock %}
