{# ## Extends #}
{% extends '_layouts/main.twig' %}

{# ## Permissions #}

{# ## Macros #}

{# ## Data logic #}

{% if entry.type == "extern" %}
    {% redirect entry.externalURL 301 %}
{% endif %}

{# ## Blocks #}
{% block content %}
    <div class="container pt-40">
        {% include '_components/content-matrix.twig' %}
    </div>
{% endblock %}
