<section class="relative text-white my-16 lg:my-32">
    {{ svg('@webroot/assets/img/white-bg-1.svg')|attr({ class: 'absolute inset-1 -z-10 block h-full w-full fill-current' }) }}
    <div class="p-8 lg:px-16 xl:px-24">
      <h2 class="text-pink text-center text-[60px] leading-[60px] mb-0">{{ block.headline }}</h2>
        <h3 class="text-black text-center text-[30px] leading-[60px] my-0">{{ block.subline }}</h3>
        <div class="bg-gray-400 h-[300px] w-full my-12"></div>
        <div class="typo typo--on-white-in-pink">
            {{ block.text }}
        </div>
    </div>
</section>
