<slider>
    {% for entry in entries  %}
        <swiper-slide>
            <div class="px-6 lg:px-16 xl:px-32 mx-auto text-center">
                {% if entry.headline is defined and entry.headline|length %}
                    {% include '_atoms/headline.twig' with {headline: entry.headline, headlineType: "h3"} %}
                {% else %}
                    <h3 class="text-black">{{ entry.title }}</h3>
                {% endif %}
                <div class="typo typo--on-pink">{{ entry.text }}</div>
            </div>
        </swiper-slide>
    {% endfor %}
</slider>
