{# ## Extends #}
{% extends '_layouts/main.twig' %}

{# ## Permissions #}

{# ## Macros #}

{# ## Data logic #}

{# ## Blocks #}
{% block content %}
  <div class="container">
    <div class="px-6 lg:px-16 xl:px-32 text-center">
      {% include "_atoms/headline.twig" with {
        headline: [
          {
            text: "Fehler 503",
            color: "white",
          },
          {
            text: "Seite momentan nicht verfügbar",
            color: "black",
          }
        ],
        headlineType: "h1",
      } %}
    </div>
  </div>
{% endblock %}
