{# ## Extends #}
{% extends '_layouts/main.twig' %}

{# ## Permissions #}

{# ## Macros #}

{# ## Data logic #}

{# ## Blocks #}
{% block content %}

  <div class="container">
    <div class="bg-red-300 p-8 text-red-800 text-center">
      <h1>We have a 503 here. The service is unavailable.</h1>
    </div>
  </div>

{% endblock %}
